extends includes/layout

block title
	title BTM | #{title}

block variables
	-events = events || {}
	-page = '/events'

block container
	.g-container-grid
		include includes/menu-list-events
		for event in events
			.c-card
				.c-card__heading-1 #{event.name} #{event.status} #[hr]
				.c-card__date #[span.icon-calendar2]  #{event.date.toJSON().slice(0,10)}
				.c-card__time #[span.icon-clock3] #{event.time}
				a.c-card__fb(href=event.facebook target="_blank") #[span.icon-facebook2] Facebook
				.c-card__desc #{event.description}
				//- TODO: .c-card__admin #{event.admin}
				a.c-card__btn(href="#") Editar
